.img-text {
    position: absolute;
    bottom: 8px;
    right: auto;
    left: auto;
}
p{
    text-align: justify;

}
.list-group{
    text-align: center;

}

.item:hover {
    background-color: #98a69c;
}
col{
    border: none;
    background-color: #FFFFFF;
}