.body {
    font-family: "montserrant", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/Campus.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.con {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #130f40;
}

.con h1 {
    font-size: 200px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    color: #E02223;
}

.con a {
    text-decoration: none;
    background: #2980b9;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.con a:hover {
    background: #130f40;
}
.con p{
    font-size: 25px;
}