/* Footer  */


.footer-container {
  background: url(../images/footerimage.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  /* bottom: 0;
  position: absolute; */
}

.footer-section {
  margin: 10px;
  /* border : 1px solid #00d0ff; */
}


/* footer */

.main-footer-grids {
  /* background: #2b6eb5; */
  padding: 1px 0;

}

p.footer-gd {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 2px;
}

p.footer-gd a {
  color: #fff;
}

.inner-footer {
  float: left;
}

.inner-footer h3 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 32px;
  letter-spacing: 2px;
}

p.adam {
  float: right;
  color: #ccc !important;
  font-size: 13px !important;
  margin-top: 20px;
}

.inner-footer.one p {
  color: #fff;
  line-height: 22px;
  font-size: 13px;
}

.inner-footer.two ul {
  margin: 0;
  padding: 0;
}

.inner-footer.two ul li {
  list-style-type: none;
  display: block;
  line-height: 1.5em;
  font-size: 14px;
  margin: 18px 0;
}

.inner-footer.three {
  list-style-type: none;
}

.inner-footer.two ul li i {
  font-size: 13px;
  margin-right: 15px;
  width: 30px;
  text-align: center;
  color: #fff;
  background: #6E65F1;
  padding: 9px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 30px;
  height: 30px;
}

.inner-footer.two ul li i.fa.fa-facebook {
  background: #5d82d2;
}

.inner-footer.two ul li i.fa.fa-twitter {
  background: #3bbef5;
}

.inner-footer.two ul li i.fa.fa-google-plus {
  background: #ea5d4b;
}

.inner-footer.two ul li i.fa.fa-dribbble {
  background: #f7659b;
}

.inner-footer.two ul li i.fa.fa-pinterest-p {
  background: #e23139;
}

.inner-footer.two ul li a {
  color: #a2d7ff;
  display: block;
  text-decoration: none;
  font-size: 13px;
}

.inner-footer.three ul li {
  margin-bottom: 15px;
}

.inner-footer.three ul li i {
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
}

.inner-footer.three ul li p {
  list-style-type: none;
  display: block;
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  float: left;
  margin-left: 15px;
}

.inner-footer.three ul li span {
  display: block;
}

.inner-footer.one {
  padding-right: 40px;
  padding-left: 40px;
}

.tweet p {
  text-align: center;
  font-size: 16px;
  color: #000;
  margin-top: 15px;
}

.tweet ul li {
  display: block;
  color: #000;
  margin-bottom: 10px;
}

.tweet ul li:last-child {
  margin-bottom: 0px;
}

.tweet ul li a {
  color: #fff;
  line-height: 25px;
  font-size: 14px;
  text-decoration: none;
}

.tweet ul li a i {
  padding-right: 5px;
}

.tweet ul li span {
  display: block;
  color: #FFFFFF;
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 5px;
}

.tweet p a {
  color: #55ACEE;
  margin-left: 5px;
}

.tweet ul li a:hover {
  color: #ffff00;
  padding-left: 5px;
}

.inner-footer.three ul li a {
  display: block;
  color: #a2d7ff;
  float: left;
  margin-lefT: 15px;
  margin-top: 5px;
}

i.fa-envelope-o {
  float: left;
}

.copy-right-grids {
  height: 25px;
  padding: 20px 0px;
  /* background: #25427f; */
}

.copy-left {
  text-align: center;
}

.copy-right ul li a:hover,
.inner-footer.three ul li a:hover {
  color: #ffff00;
}

.inner-footer.two ul li:nth-child(1) a:hover {
  color: #5D82D2;
}

.inner-footer.two ul li:nth-child(2) a:hover {
  color: #3bbef5;
}

.inner-footer.two ul li:nth-child(3) a:hover {
  color: #ea5d4b;
}

.inner-footer.two ul li:nth-child(4) a:hover {
  color: #f7659b;
}

.inner-footer.two ul li:nth-child(5) a:hover {
  color: #e23139;
}