.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.header {  display: grid;
  grid-template-columns: 0.1fr 1fr ;
  grid-template-rows: 1fr  1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "banner item-1 item-1"
    "banner item2 item2"
    ". . .";
}
.main-nav{
  padding-top: 2% ;
}
.main-nav a:hover,
.main-nav a:focus {
  background-color: #46a5e5;
}
.info-header{
  height:35px;
}
/* Notice block start*/
.notice h4{
  text-align: center;
  padding-top:8px;
  color:red;
}
.marquee {
  line-height: 20px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee a {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
/* Notice block end*/
.info-header{
  background-color: #46a5e5;

}
.flex-container {
  background: #17376e;
  padding-bottom: 5px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  padding-right: 10%;
  border: 1px solid yellow;
}

.container-2{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width:150px;
}

.container-2 input#search{
  width: 50px;
  height: 30px;
  background: #46a5e5;
  border: none;
  font-size: 10pt;
  float: left;
  padding-top:12px;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
  color: #fff;
}

.container-2 input#search:-ms-input-placeholder {
  color: #fff;
}

.container-2 .icon{
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  z-index: 1;
  color: #fff;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 200px;
}


.container-2:hover input#search{
  width: 200px;
}
.dropdown-item{
  font-size: 15px;
}



/*start*/


/*end*/


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* ============ desktop view .end// ============ */

