html * {
  font-family: "montserratlight", "Helvetica", Arial !important;
}

/* notice ticker css starts */
.ticker {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ticker .news {
  width: 92%;
  background: #cecaca;
  padding: 0 2%;
}

div.ticker,
div.ticker div.title,
div.ticker div.news {
  height: 30px;
}

.ticker .title {
  width: 8%;
  text-align: Center;
  background: #17376e;
  position: relative;
}

.ticker .title:after {
  position: absolute;
  content: "";
  right: -40%;
  border-left: 20px solid #17376e;
  border-right: 20px solid transparent;
  border-bottom: 33px solid transparent;
  top: 0;
}

.ticker .title h5 {
  color: #fff;
  font-size: 18px;
  margin: 3%;
}

.ticker .news marquee {
  font-size: 18px;
}


/* multi slider */
.owl-carousel div .textoverlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.owl-two.owl-carousel .owl-stage {
  display: flex;
}

.owl-two.owl-carousel .item img {
  height: 100%;
}
/* carousel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  width: auto;
}

.carousel-caption h4 {
  margin-bottom: 0 !important;
}

.carousel-item div {
  position: absolute;
  margin: 0;
  bottom: 1rem;
}

/* explore courses */
.explore {
  background-color: #bdcbe44f;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.explore .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.faculty-slider {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* featured section */
.featured {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/* explore card */
.explore.card {
  flex-direction: row;
  align-items: center;
}

.explore.card:last-child {
  background-color: #E02223 !important;
}

.explore .card-body .card-title {
  font-weight: bold;
}

.explore.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.explore-link {
  font-weight: 900;
  color: #5d82d2;
  text-decoration: none;
}

.explore-link:hover {
  color: #17376e;
}

/* explore program slider */
.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}

.owl-prev i,
.owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}


/* media query for tablet */
@media only screen and (max-width: 768px) {
  .ticker .title{
    visibility: hidden;
  }
  /* search bar */
  .search-bar{
    display: block;
  }
/* message from capmus chief */
  h2.about-title{
    font-size: 28px;
    padding-bottom: 0.5rem;
  }
  h2.about-chief{
    font-size: 42px;
  }
  
  .explore .card-body {
    padding: 0.5em 1.2em;
  }

  .explore .card-body .card-text {
    margin: 0;
  }

  .explore.card img {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .explore.card img {
    width: 40%;
  }
}
