.mission-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  background: #f7f7f7;
}
.con {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.con .box {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0, 025);
}

.con .box::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #E02223;
  transition: 0.6s;
}
.con .box:hover::before {
  width: 100%;
}
.con .box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.con .box .content .icon {
  position: relative;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con .box .content .icon ion-icon {
  font-size: 2.5em;
  color: #E02223;
}
.con .box:hover .content .icon ion-icon {
  color: #fff;
}
.con .box .content .text p {
  font-weight: bold;
  font-size: 20px;
  color: #2E2F98;
}
.con .box:hover .content .text p {
  color: #fff;
}
