@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root{
  --red: #E02223;
  --blue: #2E2F98;
  --black: #212121;
  --font-size: 22px;
}
/* heading */
h1.heading {
  position: relative;
  top: -20px;
  background-color: inherit;
  text-align: center;
  font-weight: bold;
  padding: 10px;  
}
/* table */
.table thead{
  background-color: blue;
  color: #fff;
}
.table tr{
  border-bottom: 1px solid #E02223;
}
/* info header at the top */
.info-header{
  background-color: #46a5e5;
}
.container-2{
  vertical-align: middle;
  white-space: nowrap;
  /* position: relative; */
  width:150px;
}

.container-2 input#search{
  width: 300px;
  height: 30px;
  background: #46a5e5;
  border: none;
  font-size: 10pt;
  float: left;
  padding-top:12px;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
  color: #000;
}

.container-2 input#search:-ms-input-placeholder {
  color: #fff;
}

.container-2 .icon{
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  z-index: 1;
  color: #000;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}
.container-2:hover input#search{
  width: 200px;
}
.dropdown-item{
  font-size: 15px;
}
/* message form camps chief */
.about-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
h2.about-title {
  font-size: 38px;
  margin-bottom: -1rem !important;
  font-family: "montserratlight", "Helvetica", Arial, sans-serif !important;
}

h2.about-chief {
  font-size: 62px;
  font-weight: 800;
  font-family: "montserratbold", "Helvetica", Arial, sans-serif !important;
  padding-bottom: 1rem;
}

.image-chief{
  overflow: hidden; 
  border-radius: 50%; 
  width: 350px; height: 350px; 
  background-color: rgba(0, 0, 0, 0.2);
}
.blockquote {
  font-family: "montserratlight", "Helvetica", Arial, sans-serif !important;
}
/* notice board */

.card-header {
  background-color: #17376e;
  color: #fff;
  border-left: 5px solid #E02223;
}

.btn.card-footer {
  background-color: #17376e;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  color: #17376e;
}

/* navbar */
nav.navbar{
  background-color: #17376e;
  border-bottom: 4px solid #E02223;
}

.nav-item {
  color: #fff !important;
}
.nav-item.active {
  color: #E02223 !important;
  font-weight: bold;
}
.nav-link-sm{
  display: none;
}
/* nav search bar */
.search-bar{
  display: none;
}
.navbar-brand{
  padding: 0px !important;
}
.navbar-brand img{
  width: 300px;
  padding: 0;
}
.max-auto{
  margin-left: 0;
}
.nav-search-icon{
  display: none;
}
/* exam-notices */
.exam-notices .nav nav.nav-item a{
  color: #17376e;
}
.exam-notices .nav .nav-item a.active{
  color: #fff;
  background-color: #E02223;
}
.exam-notices .nav .nav-item:hover a{
  background-color: #2E2F98;
  color: #fff;
}

/* footer */
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #17376e;
  color: #fff;
}

footer {
  display: block;
}

.copyright {
  background-color: #041024;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-center {
  text-align: center !important;
}
.py-4 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
/* footer */
.important-links a {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
.important-links a:hover{
  color: #fff;
}

.contact-info-list{
  color: rgba(255,255,255,.75);
}
.contact-info-list svg{
  height: 20px;
  width: 20px;
  fill: rgba(255,255,255,.75);
  margin-right: 2px;
}
.social-img {
  width: 20px;
  height: 20px;
}
.item-program .card:hover{
  cursor: pointer;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.24) !important;
}

/* search overlay */
/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(13, 26, 100, 0.9); 
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: #E02223;
}

.overlay .closebtn:hover {
  color: #ccc;
}
 .input-text{
  background: transparent;
}
 .input-text:focus {
  box-shadow: 0px 0px 0px;
  border: 2px solid #E02223;
  outline: 2px;
  background: transparent;
}
.btn-search{
  border: 2px solid #E02223 !important;
  background-color: #E02223 !important;
}
.form-control {
  border: 1px solid #f8c146
}
/* media query for mobile */
@media only screen and (max-width: 480px) {
  .navbar-brand img{
    width: 200px;
    padding: 0;
  }
  .top-nav-list{
    display: none;
  }
  .nav-link-sm{
    display: block;
  }
  .sapce-gap-sm{
    display: none;
  }
  /* footer */
  .contact-block{
   
    text-align: center;
  }
  .important-block h4{
    text-align: center;
  }
  .social-block {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* campus */
  /* .image-chief{
    overflow: hidden; 
    width: 250px; 
    height:250px;
  }
  .image-chief.sm-center{
    margin-left: auto;
    margin-right: auto;
  } */
}
/* media query for tablet */
@media only screen and (max-width: 820px) {
  .social-block{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* navbar */
  .navbar-brand{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-search-icon-link{
    display: none;
  }
  .nav-search-icon{
    display: block;
  }
  
}
@media only screen and (max-width: 1200px) {
  .sapce-gap-sm{
    display: none;
  }
}

