table {
    border-collapse: collapse;
    margin: 0 auto;  padding: 0px;
    table-layout: fixed;
    min-width: 100%;
}
table th {
    padding: 8px;
    background:#17376e;
    color:#FFFFFF;
    font-weight:bold;

    font-size: 20px;
}
table tr{
    background-color: #dddddd;
    color:#000000;
}
table td{
    padding: 8px;
    border-bottom: 1px solid #000000;
    font-size: 20px;
}
table tr:nth-child(odd) {
    background-color: #FFFFFF;
    color: #000000
}
.center-item {
    text-align: center;
    padding: 8px;
    border: 1px solid #000000;
    color:#000;
    text-align:center;
}
.view-btn{
    background-color: #40429e;
    color: rgba(255,255,255,.75);
}
.download-btn{
    background-color: #E02223;
    color: rgba(255,255,255,.75);
}
.btn:hover{
    color: #fff;
}
@media screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        margin: 0 auto;
        padding: 0px;
        table-layout: fixed;
        min-width: 100%;
    }
    table td{
        padding: 8px;
        border: 1px solid #000000;
        display: block;
        text-align: center;
        width: 100%\9;
        float: left\9;
    }
    table tr{
        margin:8px
    }
    table tr td:first-child{
        background-color: #17376e;
    }
    table tr:first-child {
        display:none;
    }
    table tr{
        display: block;
    }
    table td:not(:first-child){
        border-top:0px;
    }
}