<div class="mt-5">
<div class="exam-notices shadow p-3 mb-5 bg-body rounded">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Exam Notice</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Exam Notice</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Exam Notice</a>
        </li>
    </ul>
    <div class="row">
        <ul class="list-group list-group-unordered">
            <li class="list-group-item">This is an Example of Notice form Patan</li>
            <li class="list-group-item">This is an Example of Notice from Patan</li>
            <li class="list-group-item">This is an Example of Notice from Patan</li>
            <li class="list-group-item">This is an Example of Notice from Patan</li>
            <li class="list-group-item">This is an Example of Notice from Patan</li>
          </ul>
    </div>
    <div class="text-center m-2">View All</div>
</div>
</div>