<nav class=" navbar navbar-expand-lg navbar-dark p-3">
  <div class="container">
    <button type="button" class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">
      <img src="./images/logo-crop.png" class="img-thumbnail bg-transparent border-0" alt="">
    </a>
    <img class="nav-search-icon mx-2" src="./images/svg/search.svg" alt="" style="cursor: pointer; height: 25px; width: 25px;" onclick="openSearch()">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <a href="/" class="nav-item nav-link active">Home</a>
          <div class="nav-item dropdown">
            <a href="organization-structure.html" class="nav-item nav-link dropdown-toggle"
              data-bs-toggle="dropdown">Organization</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="list-campus-chiefs.html">Campus Chiefs</a></li>
              <li><a class="dropdown-item" href="list-professors.html">Professors</a></li>
              <li><a class="dropdown-item" href="organization-structure.html">Structure</a></li>
            </ul>
          </div>
          <div class="nav-item dropdown">
            <a href="faculty.html" class="nav-item dropdown-toggle nav-link nav-link"
              data-bs-toggle="dropdown">Faculties</a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
                <a class="dropdown-item" href="department.html">
                  Institute of Science &amp; Technology
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="department.html">
                  Faculty of Management</a>
              </li>
              <li>
                <a class="dropdown-item" href="department.html">
                  Faculty of Humanities and Sociology</a>
              </li>
            </ul>
          </div>
          <a href="../photogallary.html" class="nav-item nav-link">Gallery</a>
          <a href="reports.html" class="nav-item nav-link">Reports and Publications</a>
          <a href="noticepage.html" class="nav-item nav-link">Notice</a>
          <a href="AdministrationContact.html" class="nav-item nav-link">Staff Directory</a>
          <a href="about.html" class="nav-link nav-item nav-link-sm">About Us</a>
          <a href="./mission.html" class="nav-link nav-item nav-link-sm">Mission</a>
          <a href="faq.html" class="nav-link nav-item nav-link-sm">FAQ</a>
          <a href="contactus.html" class="nav-link nav-item nav-link-sm">Contact Us</a>
          <a href="#" class="nav-search-icon-link nav-item nav-link top-nav-list" onclick="openSearch()">
            <img src="./images/svg/search.svg" alt="" style="cursor: pointer; height: 15px; width: 15px;">
            <!-- <span><i class="fa fas-search"></i></span> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>