<div class="card">
    <div class="card-header h2">
      Featured
    </div>
    <div class="card-body">
      <ul class="list-group list-group-unordered">
        <li class="list-group-item"><a class="card-link" href="#">Example</a></li>
        <li class="list-group-item">This is an Example of Notice from Patan</li>
        <li class="list-group-item">This is an Example of Notice from Patan</li>
        <li class="list-group-item">This is an Example of Notice from Patan</li>
        <li class="list-group-item">This is an Example of Notice from Patan</li>
      </ul>
    </div>
    <div class="d-grid gap-2">
      <button class="btn card-footer btn-primary" type="button">Button</button>
    </div>
  </div>