<div id="myOverlay" class="overlay">
    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
    <div class="overlay-content">
      <form action="">
        <div class="container justify-content-center">
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-3"> <input type="text" class="form-control input-text"
                  placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append"> <button class="btn-search btn btn-outline-warning btn-lg" type="button"><i
                      class="fas fa-search"></i></button> </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>