<div class="row">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <div class="card shadow" style="max-width: 500px;">
          <div class="row g-0">
            <div class="col">
              <img src="images/multi-carousel/humanities.png" class="card-img-top h-100 p-2" alt="...">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 2rem;">Bachelor in Computer Application</h5>
                <p class="card-text" style="line-height: 20px;">Alice is a freelance web designer and developer
                  based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="#" class="explore-link text-uppercase ">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card shadow" style="max-width: 500px;">
          <div class="row g-0">
            <div class="col">
              <img src="images/multi-carousel/humanities.png" class="card-img-top h-100 p-2" alt="...">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 2rem;">Bachelor in Computer Application</h5>
                <p class="card-text" style="line-height: 20px;">Alice is a freelance web designer and developer
                  based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="#" class="explore-link text-uppercase ">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card shadow" style="max-width: 500px;">
          <div class="row g-0">
            <div class="col">
              <img src="images/multi-carousel/humanities.png" class="card-img-top h-100 p-2" alt="...">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 2rem;">Bachelor in Computer Application</h5>
                <p class="card-text" style="line-height: 20px;">Alice is a freelance web designer and developer
                  based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="#" class="explore-link text-uppercase ">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>